*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    text-align: center;
    font-family: sans-serif;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #636363;
    position: fixed;
    width: 100%;
    z-index: 100;
}


.logo {
    margin-left: 30px;
}

.logo a {
    text-decoration: none;
    color: rgb(253, 253, 253);
    text-transform: uppercase;
    font-size: 20px;
}



.header {
    display: flex;
    justify-content: center;
    align-items: center;

}

.header {
    height: 60vh !important;
    background: url(7.jpg) no-repeat center;
    background-size: cover;
}

.title {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

p {
    margin-bottom: 40px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    padding: 0 100px;
}

.sau {
    padding: 30px;
    background: #1f1d1d
}
